@font-face {
	font-family: 'dumontregular';
	src: url('../fonts/dumontregular-hinted-webfont.woff');
	font-style: normal;
}

@font-face {
	font-family: 'dumontblack';
	src: url('../fonts/dumontblack-hinted-webfont.woff') format('woff');
	font-style: normal;
}

@font-face {
	font-family: 'dumontsemibold';
	src: url('../fonts/dumontsemibold-hinted-webfont.woff') format('woff');
	font-style: normal;
}

@font-face {
	font-family: 'dumontlight';
	src: url('../fonts/dumontlight-hinted-webfont.woff') format('woff');
	font-style: normal;
}

@font-face {
	font-family: 'dumontextralight';
	src: url('../fonts/dumontextralight-hinted-webfont.woff') format('woff');
	font-style: normal;
}

@font-face {
	font-family: 'dumontthin';
	src: url('../fonts/dumontthin-hinted-webfont.woff') format('woff');
	font-style: normal;
}
